@import url("https://fonts.googleapis.com/css2?family=Inter");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

body {
  background-color: #f1eef1;
}

nav {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: white;
}

nav h4 {
  margin-left: auto;
  margin-right: 30px;
  font-weight: 200;
}

nav img {
  margin-left: 10px;
}

div.form-template {
  margin: 20px auto;
  display: block;
  position: relative;
}

.form-input {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div.form-template input {
  margin: 20px 10px;
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(226, 207, 207);
  text-align: center;
}

div.form-template input:focus {
  border: 1px solid rgb(180, 154, 154);
}

div.form-template button {
  padding: 10px;
  background-color: #a626d3;
  color: white;
  border-radius: 5px;
  border: none;
  margin-inline: 10px;
}

div.form-template button:hover {
  cursor: pointer;
  opacity: 0.9;
}

div.meme-image-container {
  /* width: 500px; */
  display: flex;
  justify-content: center;
  margin-block: 30px;
}

.image-div {
  display: flex;
  justify-content: center;
  max-width: 500px;
  position: relative;
}

div.meme-image-container img.meme-image {
  width: 100%;
  border-radius: 10px;
  pointer-events: none;
}

div.meme-image-container h2.meme-text {
  position: absolute;
  left: 35%;
  color: antiquewhite;
  cursor: move;
  z-index: 10;
  /* width: 150px; */
  word-wrap: break-word;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
}

div.meme-image-container h2.meme-text.top {
  top: 5%;
}

div.meme-image-container h2.meme-text.middle1 {
  top: 30%;
}

div.meme-image-container h2.meme-text.middle2 {
  top: 60%;
}

div.meme-image-container h2.meme-text.bottom {
  bottom: 5%;
}

.selectboxes {
  display: flex;
  justify-content: space-evenly;
  margin-block: 50px;
}

.selectboxes select {
  width: 150px;
  text-align: center;
  padding: 7px;
  font-size: medium;
  background-color: #a626d3;
  border-radius: 7px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.btn-group {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  div.meme-image-container h2.meme-text {
    position: absolute;
    left: 28%;
  }
}

@media screen and (max-width: 550px) {
  div.meme-image-container h2.meme-text {
    position: absolute;
    left: 28%;
  }
  .image-div {
    max-width: 400px;
  }
  .selectboxes {
    flex-wrap: wrap;
  }
  .selectboxes select {
    margin: 10px;
  }
  nav img {
    width: 80%;
  }
  .xxlarge {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .image-div {
    max-width: 300px;
  }
  div.form-template input {
    width: 300px;
  }
  .xlarge,
  .xxlarge {
    display: none;
  }
}
